@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Беларусь<br />
    Минск<br />
    <abbr title="Телефон">P:</abbr>
    +375-29-777-XX-XX
</address>

@if (Request.IsAuthenticated)
{
    <address>
        <strong>Техподдержка:</strong>   <a href="mailto:Support@mtom.by">Support@mtom.by</a><br />
    </address>
}