@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IoTa</h1>
    <p class="lead">Платфома взаимодействия с интернет-вещами</p>
    <p><a href=@Url.Action("About", "Home") class="btn btn-primary btn-lg">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>С чего начать</h2>
        <p>
            Зарегестрируйтесь и добавьте свое устройство.
        </p>
        <p><a class="btn btn-default" href="">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Получение информации</h2>
        <p>РАЗДЕЛ В РАЗРАБОТКЕ</p>
        <p><a class="btn btn-default" href="">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Управление данными</h2>
        <p>РАЗДЕЛ В РАЗРАБОТКЕ</p>
        <p><a class="btn btn-default" href="">Узнать больше &raquo;</a></p>
    </div>
</div>